@page "{RestaurantID:int}"
@model MyVersion.Pages.Restaurants.DetailModel
@{
}

<h2>Name: @Model.Restaurant.Name</h2>

<br />

<h2>Type: @Model.Restaurant.Cuisine</h2>

<br />

<h2>Location: @Model.Restaurant.Location</h2>
